@model PPE.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-title">Edit Employee</h3>
            <a asp-action="Index" class="btn btn-dark btn-sm">Back to list</a>
        </div>
        <hr/>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="NNI" class="form-label"></label>
                    <input asp-for="NNI" class="form-control" />
                    <span asp-validation-for="NNI" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="Tel" class="form-label"></label>
                    <input asp-for="Tel" class="form-control" />
                    <span asp-validation-for="Tel" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="Gender" class="form-label"></label>
                    <select asp-for="Gender" class="form-control" asp-items="ViewBag.Gender">
                        <option value="">Select Gender</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="ProjectId" class="form-label"></label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <label asp-for="FunctionId" class="form-label"></label>
                    <select asp-for="FunctionId" class="form-control" asp-items="ViewBag.FunctionId"></select>
                    <span asp-validation-for="FunctionId" class="text-danger"></span>
                </div>
            </div>
            
            <div class="mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



