@model IEnumerable<PPE.Models.Category>

@{
    ViewData["Title"] = "List Categories";
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Create New",
            Action = "Create",
            Controller = "Categories",
            ButtonType = "primary"
        }
    };
}

<div class="table-responsive bg-white p-2">
    <table class="table data-table w-100"
           data-column="title,ppeCount,description,actions"
           data-url="/api/value"
           id="data-table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PpeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
        </thead>

    </table>
</div>

@section Scripts {
    
}

