@model PPE.Models.Return

@{
    ViewData["Title"] = "Detail Return";
    ViewBag.Buttons = new List<ButtonModel> {
        new ButtonModel {
            Text = "Stock de return",
            Action = "Index",
            Controller = "Returns",
            ButtonType = "primary"
        },
    };
}

<div class="card">

</div>
